body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.header,
.agenda,
.results-description {
    background-color: #eeeeee;
}
.nav {
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.nav .logo {
    color: #000000;
    margin-top: -10px;
}
.nav .logo:hover,
.nav .logo:focus {
    opacity: 0.8;
}
.nav .logo:active {
    opacity: 0.3;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 485px;
}
.nav-item {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;

    padding: 10px 10px;
}
.nav-item:hover,
.nav-item:focus {
    color: #fb565a;
}
.nav-item:active {
    opacity: 0.3;
    color: #000000;
}
.cart {
    padding-right: 0px;
}
.cart::before {
    content: '';
    background-image: url('../img/cart-icon.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-right: 26px;
    margin-left: 75px;
}
.agenda-item {
    max-width: 1440px;
    height: 424px;
    margin: 0 auto;
    padding: 0px 0px 0px 280px;
    background-repeat: no-repeat;
    background-image: url('../img/slide-picture-1.png');
    background-position: 777px 10px;
}
.agenda div:first-of-type {
    background-image: url('../img/slide-picture-2.png');
    background-position: 712px 10px;
}
.agenda div:nth-of-type(3) {
    background-image: url('../img/slide-picture.png');
    background-position: 682px 10px;
}
.agenda-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    max-width: 515px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 72px;
}
.agenda-text{
    max-width: 410px;
    padding-bottom: 22px;
}
.agenda-text,
.products-item p,
.description p,
.order-type,
.statistics-description {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #283136;
}
.agenda a {
    background-color: #fb565a;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
}
.agenda a:hover,
.agenda a:focus {
    background-color: #e74246;
}
.agenda a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.carousel {
    position: absolute;
    top: 423px;
    left: 909px;
    display: flex;
    justify-content: center;
}
.carousel-control {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-right: 17px;
    background-color: #ffffff;
}
.carousel span:last-child {
    margin-right: 0px;
}
.products {
    max-width: 1160px;
    margin: 0 auto;
    padding: 64px 0 64px 0;
    border-bottom: 2px solid #eeeeee;
}
.products ul {
    display: flex;
    padding-left: 0px;
}
.products li {
    width: 300px;
    list-style: none;
    padding-right: 100px;
    background-image: url('../img/advantage-picture-red.png');
    background-position: left top;
    background-repeat: no-repeat;
}
.products li:nth-of-type(2) {
    background-image: url('../img/advantage-picture-green.png');
}
.products li:last-of-type {
    padding-right: 0px;
    background-image: url('../img/advantage-picture-yellow.png');
}
.products-item p{
    margin-top: 21px;
}
.products-item h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin: 174px 0 0 0;
}
.products-item button {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    
    margin: 31px 0 0 0;
    padding: 0;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px solid;
    border-radius: 4px;
}
.red {
    background-color: #fb565a;
}
.red:hover,
.red:focus {
    background-color: #e74246;
}
.red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.green {
    background-color: #00ca74;
}
.green:hover,
.green:focus {
    background-color: #00bc6c;
}
.green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.yellow {
    background-color: #efc84a;
}
.yellow:hover,
.yellow:focus {
    background-color: #eab534;
}
.yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.explanation {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: 2px solid #eeeeee;
}
.description {
    max-width: 650px;
}
.description h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    margin: 33px 0 0 0;
    color: #000000;
}
.description p {
    margin: 33px 0 0 0;
}
.description h4 {
    margin: 40px 0 0 0;
}
.description h4,
.statistics h3,
.contacts h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.description ul {
    margin: 0;
    padding: 0;
}
.order-type {
    list-style: none;
    margin: 24px 0 0 0;
}
.order-type::before {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    display: inline-block;
    position: relative;
    top: -5px;
}
.statistics-digit {
    list-style-type: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #000000;
}
.statistics h3 {
    text-align: center;
    padding-top: 11px;
}
.statistics div {
    display: flex;
}
.statistics-item {
    list-style: none;
    margin: 0;
    padding: 36px 15px 0 0;
    max-width: 105px;
}
.statistics-description {
    line-height: 1.13;
    margin: 0;
    padding: 25px 0 0 0;
}
.statistics-digit sup {
    font-size: 62%;
}
.clients ul {
    max-width: 1160px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 2px solid #eeeeee;
}
.clients-item {
    opacity: 0.2;
    width: 298px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-item:hover,
.clients-item:focus {
    opacity: 1;
}
.clients-item:active {
    opacity: 0.1;
}
.footer {
    margin: 80px auto 0;
    max-width: 1440px;
}
.map {
    height: 416px;
}
.map img {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}
.contacts {
    width: 319px;
    height: 308px;
    box-sizing: border-box;
    padding: 50px 54px 50px 47px;
    background-color: #ffffff;
    position: relative;
    top: -367px;
    left: 141px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts p {
    line-height: 1.13;
}
.contacts h2,
.contacts p {
    margin: 0;
}
.contacts p,
.contacts a {
    color: #666666;
}
.contacts button {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    
    margin: 0;
    padding: 0;
    display: block;
    width: 219px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px solid;
    border-radius: 4px;
}
.contacts button {
    background-color: #fb565a;
}
.contacts button:hover,
.contacts button:focus {
    background-color: #e74246;
}
.contacts button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.form {
    width: 960px;
    height: 590px;  
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    position: absolute;
    box-sizing: border-box;
    padding: 100px 73px;
}
.form-heading {
    display: flex;
    justify-content: space-between;
}
.contact-info {
    display: flex;
    padding-bottom: 36px;
}
.form button {
    margin-top: 36px;
}
.form h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
.form .close {
    background: none;
    margin: 0;
    padding: 0;
    display: block;
    border: 0px solid;
    opacity: 0.3;
}
.form .close:hover,
.form .close:focus {
    opacity: 1;
}
.form .close:active {
    opacity: 0.1;
}
.form label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
.form input {
    width: 360px;
    height: 50px;
    border: solid 2px #d7dcde;
    border-radius: 4px;
    color: rgba(68, 68, 68, 0.5);
    padding-left: 16px;
}
.form input:hover {
    border-color: #b4b9bb;
}
.form input:focus,
.form input:active {
    color: rgba(0, 0, 0, 1);
    border-color: #000000;
}
.form textarea {
    width: 760px;
    height: 118px;
    border: solid 2px #d7dcde;
    border-radius: 4px;
    color: rgba(68, 68, 68, 0.5);
    padding: 14px 0px 0px 16px;
}
.form textarea:hover {
    border-color: #b4b9bb;
}
.form textarea:focus,
.form textarea:active {
    color: rgba(0, 0, 0, 1);
    border-color: #000000;
}
.form .send {
    background-color: #fb565a;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    
    margin: 36px 0 0 0;
    padding: 0;
    display: block;
    width: 260px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px solid;
    border-radius: 4px;
}
.form .send:hover,
.form .send:focus {
    background-color: #e74246;
}
.form .send:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.feedback {
    margin: 0;
}
.social {
    height: 217px;
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.social ul {
    list-style: none;
    display: flex;
}
.social-item {
    background-color: #e1e1e1;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
}
.social-item svg {
    position: relative;
    top: 29px;
    box-sizing: border-box;
}
.social-item:active svg {
    opacity: 0.3;
}
.social-item:hover,
.social-item:focus {
    background-color: #e74246;
}
.social-item:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.social-slogan {
    padding-left: 127px;
}
.social-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding-top: 27px;
}
.social-copy {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #444444;
}
.main-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
    padding: 85px 0 124px 0;
    margin: 0 auto;
    width: 100%;
}
.catalog-body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-grow: 1 2;
    box-sizing: border-box;
    padding: 60px 140px 76px 140px;
    justify-content: space-between;
}
.sorting {
    padding-left: 136px;
    padding-bottom: 32px;
}
.sorting,
.sorting ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.sorting ul {
    width: 360px;
    list-style: none;
}
.filter-param legend,
.sorting-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}
.filter fieldset:first-child {
    text-transform: uppercase;
}
.filter label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #283136;
}
.filter ul {
    list-style: none;
}
.filter button {
    width: 260px;
    height: 50px;  
    background-color: #eeeeee;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    border: 0px solid;
    border-radius: 4px;
}
.filter button:hover,
.filter button:focus {
    background-color: #dfdfdf;
}
.filter button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}
.sorting-type {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.3;
}
.down {
    width: 11px;
    height: 10px;
    background-image: url('../img/icon-up-dir.svg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}
.up {
    width: 11px;
    height: 10px;
    background-image: url('../img/icon-down-dir.svg');
    background-position: center center;
    display: block;
    margin-left: 40px;
}
.up,
.down {
    padding-top: 14px;
    background-repeat: no-repeat;
}
.sorting-type:hover,
.sorting-type:focus {
    opacity: 0.6;
}
.sorting-type:active {
    opacity: 1;
}
.description-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.description-heading:hover,
.description-heading:focus {
    color: #fb565a;
}
.description-heading:active {
    color: rgba(0, 0, 0, 0.3);;
}
.description-text {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 1.13;
    margin: 0;
    text-align: center;
    padding-bottom: 12px;
}
.results {
    padding-left: 96px;
}
.results-item {
    width: 360px;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
}
.results-item::before {
    content: '';
    width: 360px;
    height: 40px;
    background-image: url('../img/browser.svg');
    background-position-x: inherit;
    display: block;
    opacity: 0.12;
}
.results-description {
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 0 35px 0;
    position: relative;
    top: -237px;
}
.results-item button {
    background-color: #fb565a;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px solid;
    border-radius: 4px;
}
.results-item button:hover,
.results-item button:focus {
    background-color: #e74246;
}
.results-item button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.results-pages a {
    height: 50px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
    display: inline-block;
    line-height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
}
.row {
    width: 50px;
}
.next {
    width: 260px;
}
.results-pages a:hover,
.results-pages a:focus {
    background-color: #dfdfdf;
}
.results-pages a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}